.Labs
     {
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 40px;
	border: 5px groove #48D1CC;
	background-color: #F0F8FF;
	padding: 5px;
	font-size: 14pt;
	color: #000000;
	text-align: center;
      }

.LeftBlock
   {
	margin-top:60px;
	padding: 5px 0px;
	float: left;
	width: 500px;
	height: 100vh;
    }

.MainBlock {
	float: rigth;
	width: 	100%;
	height: 60vh;
	padding: 5px 40px;
	font-size: 15pt;
	color:#000000;	
}

.list {
	position: relative;
	display: block;
}
.element-of-the-list {
	display: none;
	background-color:  #F0F8FF;
	min-width: 200px;
}
.element-of-the-list a {
	color: #000000;
	padding: 20px;
	display: block;
}
.list:hover .element-of-the-list
{
	display: block;
}
h1, h2{
  color: 	#000000;
}
h1
{
    text-align: center;
	font-size:150% ;
}
h2
{
text-align: center;
	font-size:100% ;
}
h4 
{       
        text-align: center;
        margin-bottom: -9%;
	font-size:200% ;
	color: 	#20B2AA;
}
